<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit <%= item.ItemName %></title>
    <link rel="icon" type="image/png" href="img/logos/shop_logo.png">
    <link rel="stylesheet" href="/styles.css"> 
  </head>
  <body style="background-color: var(--dark-color);">
    <header>
      <nav class="navbar section-content">
        <%- include('../partials/_navbar.ejs') %>
      </nav>
      <nav class="navbar">
        <%- include('../partials/_categories.ejs') %>
      </nav>
    </header>

    <div class="sign-in-container">
      <h1 class="sign-in-title">Edit a Item!</h1>
      <form action="/items/<%= item._id %>?_method=PUT" method="POST">

        <label class="sign-in-label" for="ItemName">Item name:</label>
        <input class="sign-in-input" type="text" name="ItemName" id="ItemName" value="<%= item.ItemName %>" required/>

        <label class="sign-in-label" for="ItemPrice">Item price:</label>
        <input class="sign-in-input" type="number" name="ItemPrice" id="ItemPrice" step="0.01" value="<%= item.ItemPrice %>" required/>

        <label class="sign-in-label" for="ItemDescription">Item description:</label>
        <textarea class="sign-in-input" name="ItemDescription" id="ItemDescription" rows="4" required><%= item.ItemDescription %></textarea>

        <label class="sign-in-label" for="ItemCategory">Item category:</label>
        <select class="sign-in-input" id="ItemCategory" name="ItemCategory" required>
          <option value="<%= item.ItemCategory %>"><%= item.ItemCategory %></option>

          <% categories.forEach(category => { %>
            <option value="<%= category.CategoryName %>"><%= category.CategoryName %></option>
          <% }); %>

        </select>

        <label class="sign-in-label" for="ItemImg">Item img:</label>
        <input class="sign-in-input" type="file" name="ItemImg" id="ItemImg" accept="image/*"/>

        <div id="image-preview-container" style="margin-top: 20px;">
          <h2 class="sign-in-label">Image Preview:</h2>
          <input type="hidden" name="currentImage" value="<%= item.ItemImg %>" /> 
          <!-- if user didnt change the photo the app will use the previous one (type="file" can't display the path) -->
          <img src="/img/items/<%= item.ItemImg %>" alt="Current Image"/>

        </div>
        
        <button class="sign-in-button" type="submit">Edit Item</button>
    
      </form>

    </div>

    <%- include('../partials/_footer.ejs') %>

    <script>
      document.getElementById('toggle-categories').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent the default link behavior
        const categoriesContainer = document.getElementById('categories-container');
        if (categoriesContainer.style.display === 'none') {
            categoriesContainer.style.display = 'block';
            this.textContent = 'Hide Categories'; // Change button text
        } else {
            categoriesContainer.style.display = 'none';
            this.textContent = 'Show Categories'; // Change button text back
        }
      });
    </script>

  </body>
</html>
