<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit <%= item.ItemName %></title>
  </head>
  <body>
    <%- include('../partials/_navbar.ejs') %>
    <h1>Edit a Item!</h1>

    <form action="/items/<%= item._id %>?_method=PUT" method="POST">

      <label for="ItemName">Item name:</label>
      <input type="text" name="ItemName" id="ItemName" value="<%= item.ItemName %>" required/>

      <label for="ItemPrice">Item price:</label>
      <input type="number" name="ItemPrice" id="ItemPrice" step="0.01" value="<%= item.ItemPrice %>" required/>

      <label for="ItemDescription">Item description:</label>
      <textarea name="ItemDescription" id="ItemDescription" rows="4" required>value="<%= item.ItemDescription</textarea>

      <label for="ItemCategory">Item category:</label>
        <select id="ItemCategory" name="ItemCategory" required>
            <option value="<%= item.ItemCategory %>"><%= item.ItemCategory %></option>

            <% categories.forEach(category => { %>
                <option value="<%= category.CategoryName %>"><%= category.CategoryName %></option>
            <% }); %>

        </select>

        <label for="ItemImg">Item img:</label>
        <input type="file" name="ItemImg" id="ItemImg" accept="image/*" value="<%= item.ItemImg %>" required />
        
        <button type="submit">Edit Item</button>
    
    </form>

  </body>
</html>
