<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit <%= item.ItemName %></title>
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/dnmdmz7qo/image/upload/v1759391673/shop_logo_g70q1m.png">
    <link rel="stylesheet" href="/styles.css"> 
  </head>
  <body style="background-color: var(--dark-color);">
    <header>
      <nav class="navbar section-content">
        <%- include('../partials/_navbar.ejs') %>
      </nav>
      <nav class="navbar">
        <%- include('../partials/_categories.ejs') %>
      </nav>
    </header>

    <div class="sign-in-container">
      <h1 class="sign-in-title">Edit a Item!</h1>
      <form action="/items/<%= item._id %>?_method=PUT" method="POST" enctype="multipart/form-data">

        <label class="sign-in-label" for="ItemName">Item name:</label>
        <input class="sign-in-input" type="text" name="ItemName" id="ItemName" value="<%= item.ItemName %>" required/>

        <label class="sign-in-label" for="ItemPrice">Item price:</label>
        <input class="sign-in-input" type="number" name="ItemPrice" id="ItemPrice" step="0.01" value="<%= item.ItemPrice %>" required/>

        <label class="sign-in-label" for="ItemDescription">Item description:</label>
        <textarea class="sign-in-input" name="ItemDescription" id="ItemDescription" rows="4" required><%= item.ItemDescription %></textarea>

        <label class="sign-in-label" for="ItemCategory">Item category:</label>
        <select class="sign-in-input" id="ItemCategory" name="ItemCategory" required>
          <option value="<%= item.ItemCategory %>"><%= item.ItemCategory %></option>

          <% categories.forEach(category => { %>
            <option value="<%= category.CategoryName %>"><%= category.CategoryName %></option>
          <% }); %>

        </select>

        <label class="sign-in-label" for="ItemImg1">Item img 1:</label> 
        <input class="sign-in-input" type="file" name="ItemImg" id="ItemImg1" accept="image/*"/>
        <input type="hidden" name="currentImage1" value="<%= item.ItemImg[0].url %>" /> 
        <!-- <p>Current Image 1: <%= item.ItemImg[0].url %></p> Display for debugging -->
        
        <label class="sign-in-label" for="ItemImg2">Item img 2:</label> 
        <input class="sign-in-input" type="file" name="ItemImg" id="ItemImg2" accept="image/*"/>
        <input type="hidden" name="currentImage2" value="<%= item.ItemImg[1] ? item.ItemImg[1].url : '' %>" /> 
        <!-- <p>Current Image 2: <%= item.ItemImg[1] ? item.ItemImg[1].url : 'No image available' %></p> -->>
        <label class="sign-in-label" for="ItemImg3">Item img 3:</label> 
        <input class="sign-in-input" type="file" name="ItemImg" id="ItemImg3" accept="image/*"/>
        <input type="hidden" name="currentImage3" value="<%= item.ItemImg[2] ? item.ItemImg[2].url : '' %>" /> 

        <label class="sign-in-label" for="ItemImg4">Item img 4:</label> 
        <input class="sign-in-input" type="file" name="ItemImg" id="ItemImg4" accept="image/*"/>
        <input type="hidden" name="currentImage4" value="<%= item.ItemImg[3] ? item.ItemImg[3].url : '' %>" /> 

        <button class="sign-in-button" type="submit">Edit Item</button>
    
      </form>

    </div>

    <%- include('../partials/_footer.ejs') %>

    <%- include('../partials/_toggle-categories.ejs') %> 
  </body>
</html>
