<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Edit <%= category.CategoryName%></title>
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/dnmdmz7qo/image/upload/v1759391673/shop_logo_g70q1m.png">
    <link rel="stylesheet" href="/styles.css">
  </head>
  <body style="background-color: var(--dark-color);">
    <header>
      <nav class="navbar section-content">
        <%- include('../partials/_navbar.ejs') %>
      </nav>
      <nav class="navbar">
        <%- include('../partials/_categories.ejs') %>
      </nav>
    </header>
    <div class="sign-in-container">
      <h1 class="sign-in-title">Edit a Category!</h1>
      <form action="/items/<%= category._id %>?_method=PUT" method="POST">

        <label class="sign-in-label" for="CategoryName">Category name:</label>
        <input class="sign-in-input" type="text" name="CategoryName" id="CategoryName" value="<%= category.CategoryName%>" required/>
      
        <button class="sign-in-button" type="submit">Edit Category</button>   
      
      </form>
    </div>

    <%- include('../partials/_footer.ejs') %>

    <script>
      document.getElementById('toggle-categories').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent the default link behavior
        const categoriesContainer = document.getElementById('categories-container');
        if (categoriesContainer.style.display === 'none') {
            categoriesContainer.style.display = 'block';
            this.textContent = 'Hide Categories'; // Change button text
        } else {
            categoriesContainer.style.display = 'none';
            this.textContent = 'Show Categories'; // Change button text back
        }
      });
    </script>

  </body>
</html>
