  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bahrain line</title>
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/dnmdmz7qo/image/upload/v1759391673/shop_logo_g70q1m.png">
    <link rel="stylesheet" href="/styles.css">
    
    <style>
        .hero-image-wrapper {
            position: relative;
            overflow: hidden;
            width: 100%; 
            height: 450px;
        }

        .hero-image {
            position: absolute;
            width: 100%;
            height: 100%;
            object-fit: cover;
            opacity: 0;
            transition: opacity 1s ease-in-out;
            border-radius: 20px; 
        }

        .hero-image.active {
            opacity: 1;
        }
    </style>
    
  </head>
  <body>
    <header>
      <nav class="navbar section-content">
        <%- include('../partials/_navbar.ejs') %>
      </nav>
      <nav class="navbar">
        <%- include('../partials/_categories.ejs') %>
      </nav>
    </header>

    <main>
      <section class="hero-section">
        <div class="section-content">
          <div class="hero-details">
            <h2 class="title">Bahrain line</h2>
            <h3 class="subtitle">Crafted with Love and Tradition</h3>
            <p class="description">At our shop, we celebrate the rich heritage of Bahrain through 
              beautifully crafted items. Each piece tells a story and brings a touch of tradition 
              into your home.</p>
          </div>
          <div class="hero-image-wrapper">
            <img src="https://res.cloudinary.com/dnmdmz7qo/image/upload/v1759389147/1_kfdu9m.jpg" alt="Hero" class="hero-image active">
            <img src="https://res.cloudinary.com/dnmdmz7qo/image/upload/v1759389147/2_gjovrc.jpg" alt="Hero" class="hero-image">
            <img src="https://res.cloudinary.com/dnmdmz7qo/image/upload/v1759389147/3_kxeq5i.jpg" alt="Hero" class="hero-image">
          </div>
        </div>
      </section>
      
      <section class="menu-section">
        <h2 class="section-title">Check our products</h2>
        <div class="section-content">
          <ul class="menu-list">
            <% items.forEach((item) => { %>
              <li class="menu-item">
                <a href="/items/<%= item._id %>">
                <img src="<%= item.ItemImg[0].url %>" alt="item img" class="menu-image">
                <h3 class="name"><%= item.ItemName %></h3>
                <h4 class="text"><%= item.ItemPrice %></h4>
                </a>
              </li>
            <% }); %>
          </ul>
        </div>
      </section>
    </main>

    <%- include('../partials/_footer.ejs') %>

    <%- include('../partials/_toggle-categories.ejs') %>

    <%- include('../partials/_About-images.ejs') %>
  </body>
  </html>