  <!DOCTYPE html>
  <html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bahrain line</title>
    <link rel="stylesheet" href="/styles.css"> 
  </head>
  <body>
    <header>
      <nav class="navbar section-content">
        <%- include('../partials/_navbar.ejs') %>
      </nav>
      <nav class="navbar">
        <%- include('../partials/_categories.ejs') %>
      </nav>
    </header>

    <main>
      <section class="hero-section">
        <div class="section-content">
          <div class="hero-details">
            <h2 class="title">Bahrain line</h2>
            <h3 class="subtitle">Make your day great with our special items</h3>
            <p class="description">Welcome to our traditional shop, where every hiertage tells 
              a story and every item sparks joy.</p>
          </div>
          <div class="hero-image-wrapper">
            <img src="img/about/1.jpg" alt="Hero" class="hero-image">
          </div>
        </div>
      </section>
    </main>


        <% items.forEach((item) => { %>
          <div class="item-card">
            <a href="/items/<%= item._id %>">
              <img src="/img/items/<%= item.ItemImg %>" alt="item img">
            </a>
            <p>View more details</p>
          </div>
        <% }); %>
    

      <%- include('../partials/_footer.ejs') %>


    <script>
      document.getElementById('toggle-categories').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent the default link behavior
        const categoriesContainer = document.getElementById('categories-container');
        if (categoriesContainer.style.display === 'none') {
            categoriesContainer.style.display = 'block';
            this.textContent = 'Hide Categories'; // Change button text
        } else {
            categoriesContainer.style.display = 'none';
            this.textContent = 'Show Categories'; // Change button text back
        }
      });
    </script>
  </body>
  </html>