<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Home</title>
  <link rel="stylesheet" href="/styles.css"> 
</head>
<body>
  <header>
    <h1>Welcome to Our Shop</h1>
  </header>
    
  <section class="categories">
    <%- include('../partials/_navbar.ejs') %>
    <div class="admin-buttons">
      <a href="/items/new_item"><button>Add new Item</button></a>
      <a href="/items/new_category"><button>Add new Category</button></a>
    </div>
    <%- include('../partials/_categories.ejs') %>
  </section>

  <section class="items">
    <p>Check out our amazing products!</p>  
    <div class="container">
      <% items.forEach((item) => { %>
        <div class="item-card">
          <a href="/items/<%= item._id %>">
            <img src="/img/items/<%= item.ItemImg %>" alt="item img">
          </a>
          <p>View more details</p>
        </div>
      <% }); %>
    </div>
  </section>

  <footer>
    <%- include('../partials/_footer.ejs') %>
  </footer>
    
</body>
</html>