<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= showCategory.CategoryName %></title>
    <link rel="icon" type="image/png" href="img/logos/shop_logo.png">
    <link rel="stylesheet" href="/styles.css"> 
  </head>
  <body>
    <header>
      <nav class="navbar section-content">
        <%- include('../partials/_navbar.ejs') %>
      </nav>
      <nav class="navbar">
        <%- include('../partials/_categories.ejs') %>
      </nav>
    </header>

    <main>
      <section class="menu-section">
        <div class="section-content">
          <ul class="menu-list">
            <% Items.forEach((item) => { %>
              <% if(item.ItemCategoryId.equals(showCategory._id)){ %>
                <li class="menu-item">
                  <a href="/items/<%= item._id %>">
                    <img src="/img/items/<%= item.ItemImg %>" alt="item img" class="menu-image">
                    <h3 class="name"><%= item.ItemName %></h3>
                    <h4 class="text"><%= item.ItemPrice %></h4>
                  </a>
                </li>
              <% }; %>
            <% }); %>
          </ul>
        </div>
      </section>
    </main>

    <% if(user){ %>
      <form action="/items/<%= showCategory._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete this Category</button>
      </form>
      
      <a href="/items/<%= showCategory._id %>/edit">Edit this Category</a>
    <% } %>

    <%- include('../partials/_footer.ejs') %>

    <script>
      document.getElementById('toggle-categories').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent the default link behavior
        const categoriesContainer = document.getElementById('categories-container');
        if (categoriesContainer.style.display === 'none') {
            categoriesContainer.style.display = 'block';
            this.textContent = 'Hide Categories'; // Change button text
        } else {
            categoriesContainer.style.display = 'none';
            this.textContent = 'Show Categories'; // Change button text back
        }
      });
    </script>
  </body>
</html>