<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= showItem.ItemName %></title>
    <link rel="icon" type="image/png" href="https://res.cloudinary.com/dnmdmz7qo/image/upload/v1759391673/shop_logo_g70q1m.png">
    <link rel="stylesheet" href="/styles.css"> 
  </head>
  <body>
    <header>
      <nav class="navbar section-content">
        <%- include('../partials/_navbar.ejs') %>
      </nav>
      <nav class="navbar">
        <%- include('../partials/_categories.ejs') %>
      </nav>
    </header>

    <main>
      <section class="menu-section">
        <div class="section-content item-container show-item-layout">
          <div class="item-image">
            <% showItem.ItemImg.forEach(img => { %>
              <img src="<%= img.url %>" alt="item_img" class="styled-image">
            <% }); %> 
          </div>
          <div class="menu-details">
            <h1><%= showItem.ItemName %></h1>
            <h2>Item price: $<%= showItem.ItemPrice %></h2>
            <h2>Category: <%= showItem.ItemCategory  %></h2>
            <p>. <%= showItem.ItemDescription  %></p>
          </div>
        </div>
      </section>
    </main>
         
    <% if(user){ %>
      <div class="admin-actions">
         <form action="/items/<%= showItem._id %>?_method=DELETE" method="POST" class="delete-form">
          <button type="submit" class="btn delete-btn">Delete this Item</button>
        </form>
        
        <a href="/items/<%= showItem._id %>/edit" class="btn edit-btn">Edit this Item</a>
      </div>
    <% } %>

    <%- include('../partials/_footer.ejs') %>

    <%- include('../partials/_toggle-categories.ejs') %>
  </body>
</html>