<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= showItem.ItemName %></title>
    <link rel="icon" type="image/png" href="img/logos/shop_logo.png">
    <link rel="stylesheet" href="/styles.css"> 
  </head>
  <body>
    <header>
      <nav class="navbar section-content">
        <%- include('../partials/_navbar.ejs') %>
      </nav>
      <nav class="navbar">
        <%- include('../partials/_categories.ejs') %>
      </nav>
    </header>

    <main>
      <section class="menu-section">
        <div class="section-content item-container show-item-layout">
          <div class="item-image">
            <img src="/img/items/<%= showItem.ItemImg %>" alt="item_img">
          </div>
          <div class="menu-details">
            <h2>Details:</h2>
            <h3>Item name: <%= showItem.ItemName %></h3>
            <h4>Item price: $<%= showItem.ItemPrice %></h4>
            <h4>Category: <%= showItem.ItemCategory  %></h4>
            <p>Description: <%= showItem.ItemDescription  %></p>
          </div>
        </div>
      </section>
    </main>
         
    <% if(user){ %>
      <div class="admin-actions">
         <form action="/items/<%= showItem._id %>?_method=DELETE" method="POST" class="delete-form">
          <button type="submit" class="btn delete-btn">Delete this Item</button>
        </form>
        
        <a href="/items/<%= showItem._id %>/edit" class="btn edit-btn">Edit this Item</a>
      </div>
    <% } %>

    <%- include('../partials/_footer.ejs') %>

    <script>
      document.getElementById('toggle-categories').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent the default link behavior
        const categoriesContainer = document.getElementById('categories-container');
        if (categoriesContainer.style.display === 'none') {
            categoriesContainer.style.display = 'block';
            this.textContent = 'Hide Categories'; // Change button text
        } else {
            categoriesContainer.style.display = 'none';
            this.textContent = 'Show Categories'; // Change button text back
        }
      });
    </script>
  </body>
</html>