<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= showItem.ItemName %></title>
    <link rel="icon" type="image/png" href="img/logos/shop_logo.png">
    <link rel="stylesheet" href="/styles.css"> 
  </head>
  <body>
    <header>
      <nav class="navbar section-content">
        <%- include('../partials/_navbar.ejs') %>
      </nav>
      <nav class="navbar">
        <%- include('../partials/_categories.ejs') %>
      </nav>
    </header>

    <img src="/img/items/<%= showItem.ItemImg %>" alt="item_img">

    <h2>Details:</h2>
    <p>Item name: <%= showItem.ItemName %></p>
    <p>Item price: $<%= showItem.ItemPrice %></p>
    <p>Category: <%= showItem.ItemCategory  %></p>
    <p>Description: <%= showItem.ItemDescription  %></p>
         
    <% if(user){ %>
      <form action="/items/<%= showItem._id %>?_method=DELETE" method="POST">
        <button type="submit">Delete this Item</button>
      </form>
      
      <a href="/items/<%= showItem._id %>/edit">Edit this Item</a>
    <% } %>

    <script>
      document.getElementById('toggle-categories').addEventListener('click', function(event) {
        event.preventDefault(); // Prevent the default link behavior
        const categoriesContainer = document.getElementById('categories-container');
        if (categoriesContainer.style.display === 'none') {
            categoriesContainer.style.display = 'block';
            this.textContent = 'Hide Categories'; // Change button text
        } else {
            categoriesContainer.style.display = 'none';
            this.textContent = 'Show Categories'; // Change button text back
        }
      });
    </script>
  </body>
</html>